extends layout

block content
	div.container
		ul(id='messages')

		div.inputSec
			input(id='inputMsg', type='text', name="inputMsg")
			button(id='send') Send
	script(type='text/javascript' src='/socket.io/socket.io.js')
	script(type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.js')
	script(type='text/javascript' src='/javascripts/chat.js')
